@import "../../App.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;

  cursor: default;

  box-shadow: 0 1px 10px rgb(236, 236, 236);

  .header-title {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;

    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    color: #1b9ab4;

    img {
      width: 2rem;
    }
  }

  .header-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: fit-content;

    .search-icon {
      width: 20px;
      height: 20px;

      cursor: pointer;

      svg {
        color: grey;
      }
    }
  }

  .user {
    position: relative;
    height: 30px;
    margin-left: 10px;

    .user-icon {
      cursor: pointer;
    }

    .user-menu {
      position: absolute;
      z-index: 1;
      right: 0;
      padding: 15px 25px;

      text-align: left;

      border-radius: 10px;
      box-shadow: 1px 1px 10px lightgray;
      background-color: white;

      .menu-opt {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .menu-logout {
          border-top: 1px solid lightgray;
          padding-top: 8px;
        }

        .menu-logout:hover {
          color: red;
        }

        .menu-user-info {
          min-height: 40px;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 8px;

          .menu-user-info-pp {
            width: 2rem;
          }

          span {
            font-weight: 600;
            cursor: pointer;
          }
        }

        a,
        p {
          display: block;
          width: 150px;
          text-decoration: none;
          color: grey;
          cursor: pointer;
        }
        p {
          margin: 0;
        }
        a:hover,
        p:hover {
          font-weight: 600;
          color: $dark-accent;
        }

        hr {
          color: grey;
        }
      }

      .menu-opt-login {
        display: flex;
        align-items: center;
        column-gap: 5px;

        p {
          width: 150px;
        }
        svg {
          width: 30px;
        }
      }
      .menu-opt-login:hover {
        p {
          color: $dark-accent;
          font-weight: 600;
        }
        svg {
          stroke: $dark-accent;
          fill: $dark-accent;
        }
      }
    }
  }

  .search {
    position: absolute;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: auto;

    background-color: white;

    .search-form {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 75%;
      margin: auto;

      .search-btn {
        height: 40px;
        width: fit-content;
        margin: 0 0 0 5px;
        cursor: pointer;
        outline: none;
        border: none;
        color: white;
        background-color: #1b9ab4;
        padding-left: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 12px;
        border-radius: 20px;
        font-family: inherit;
      }

      .search-field {
        width: 90%;
        height: 40px;
        padding: 0 0 0 15px;
        margin: 5px 0;

        border-radius: 20px;
        border: 1px solid lightgray;
        font-family: inherit;
      }
      .cancel-btn {
        height: 40px;
        width: fit-content;
        margin: 0 0 0 5px;
        cursor: pointer;
        color: white;
        background-color: red;
        padding-left: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 12px;
        border-radius: 20px;
        border: none;
        outline: none;
        font-family: inherit;
      }
    }

    
  }

  .hide {
    display: none;
  }
}

@media screen and (min-width: 640px) {
  .header {
    padding: 0 50px;

    .header-title {
      font-size: 26px;
    }
  }
}

@media screen and (min-width: 1100px) {
  .header {
    padding: 0 90px;

    .header-title {
      font-size: 26px;
    }
  }
}
